#add these in your Docker Environment

#Bot Token
DISCORD_TOKEN=
#Client ID
DISCORD_CLIENT_ID=
#Internal Minecraft Docker Name
RCON_HOST=
#Internal Exposed RCON Port
RCON_PORT=
#Internal RCON Password
RCON_PASSWORD=

#Twitch App ID
TWITCH_CLIENT_ID=
#Twitch App Secret
TWITCH_TOKEN=
#Twitch user to track
TWITCH_USER=
